{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Diego Rincon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <link href="{% static 'css/animations.css' %}" rel="stylesheet">
        <script src="{% static 'js/main.js' %}"></script> 
    </head>
    <body class="bg-neutral-700 font-ibmfamily w-full text-xl relative min-h-screen">
        <div id="bootload" class="text-lg bg-black text-neutral-300 flex flex-col items-center relative w-screen h-screen justify-center">
            <p class="mb-5">GNU GRUB version 2:2.06.r440.g4de39a2af-1</p>
            <div class="border-2 border-solid border-neutral-400 p-2 leading-4 h-3/4 w-[60%]">
                <p id="initial" class="text-black bg-neutral-400">Arch Linux install medium with skeakup screen reader</p>
                <p id="uefi">UEFI Shell</p>
                <p id="archl">Arch Linux install medium 86x_64, UEFI</p>
                <p>UEFI Firmware Settingsh</p>
                <p>System Shutdown</p>
                <p>Systemrestart</p>
            </div>
            
        </div>
        <div id="homepage" class="">
        <div class="left-0 bg-black fixed top-0 w-screen z-10">
            <h2 class="text-white text-center text-2xl font-mono font-bold w-full">DiegoRincon@Venezuela</h2>
        </div>
        <div class="mt-20">
            <div class="flex items-center h-[6vw]">
                <h1 class="ml-2 text-[5.2vw] whitespace-nowrap inline-block text-green-600 font-bold text-center">DiegoRincon@Venezuela<span class="text-white">:~$</span></h1>
                <p id="typewritertext" class="typed font-bold">Software Engineer</p>
            </div>
            <div class="flex flex-row items-center w-full justify-center mt-6">
                <a class="w-20 p-2.5" href="https://github.com/drincon02"><img class="border-2 border-solid border-transparent hover:border-green-600" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt=""></a>
                <a class="w-20 p-2.5" href="https://www.linkedin.com/in/diegorinconsaez/"><img class="border-2 border-solid border-transparent hover:border-green-600" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt=""></a>
                <a class="w-20 p-2.5" href="mailto:rincondiego2002@gmail.com"><img class="border-2 border-solid border-transparent hover:border-green-600" src="https://static-00.iconduck.com/assets.00/mail-icon-1024x1024-lf56uwrj.png" alt=""></a>
            </div>
        </div>
        <div class="pb-32">
            <div class="z-10 sticky ml-2 top-10 flex flex-row items-start justify-start text-white">
                <button onclick="tabexperience()" id="experiencebutton" class="px-2.5 bg-black rounded-md text-center sm:text-3xl border-transparent border-solid border-2 hover:border-green-600">
                    Experience
                </button>
                <button onclick="tabskills()" id="skillsbutton" class="px-2.5 bg-black rounded-md text-center sm:text-3xl border-transparent border-solid border-2 hover:border-green-600">
                    Skills
                </button>
            </div>
            <div id="experiencesdiv" class="transition duration-75 ease-linear">
                <h2 class="ml-2 decoration-solid underline decoration-green-600 text-2xl text-white">Experiences</h2>
                <div class="relative left-[5vw] w-[90vw] grid grid-cols-1 sm:grid-cols-3 mt-6 gap-2">
                    {% for experience in experiences %}
                    <a class="min-h-[228px]" href="{{experience.link}}">
                        <div class="h-full min-h-full border-solid border-transparent hover:border-green-600 border-2 p-2.5 group flex flex-col items-center justify-center">
                            <img class="h-28" src="{{MEDIA_ROOT}}/{{experience.image}}">
                            <p class="text-white text-2xl">{{experience.date|date:"m/d/Y"}}</p>
                            <p class="text-white text-2xl">{{experience.name}}</p>
                            <p class="group-hover:opacity-100 opacity-0">Click to see details</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                
            </div>
        <div id="skillsdiv" style="display: none;">
            <h2 class="ml-2 decoration-solid underline decoration-green-600 text-2xl text-white">Skills</h2>
            <div class="relative left-[5vw] w-[90vw] grid grid-cols-1 sm:grid-cols-3 mt-6 gap-2">
                {% for skill in skills %}
                <a class="min-h-[228px]" href="{{skill.link}}">
                    <div class="h-full min-h-full border-solid border-transparent hover:border-green-600 border-2 p-2.5 group flex flex-col items-center justify-center">
                        <img class="h-28" src="{{MEDIA_ROOT}}/{{skill.image}}">
                        <p class="text-white text-2xl">{{skill.date|date:"m/d/Y"}}</p>
                        <p class="text-white text-2xl">{{skill.name}}</p>
                        <p class="group-hover:opacity-100 opacity-0">Click to see details</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        </div>

        <div class="bg-black flex flex-row items-center w-screen absolute bottom-0 left-0 justify-center">
            <p class="bg-black text-center text-white">Contact Me in Social Media</p>
            <a class="w-20 p-2.5" href="https://github.com/drincon02"><img class="border-2 border-solid border-transparent hover:border-green-600" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt=""></a>
            <a class="w-20 p-2.5" href="https://www.linkedin.com/in/diegorinconsaez/"><img class="border-2 border-solid border-transparent hover:border-green-600" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt=""></a>
            <a class="w-20 p-2.5" href="mailto:rincondiego2002@gmail.com"><img class="border-2 border-solid border-transparent hover:border-green-600" src="https://static-00.iconduck.com/assets.00/mail-icon-1024x1024-lf56uwrj.png" alt=""></a>
        </div>
        </div>
        <!-- animation for the title of the job / tranlsation / production -->
    </body>